<% if comment.user_id.present? %>
  <div id="comment-<%= comment.id %>" class="current-comment" data-id="<%= comment.id %>">
    <div id="comment">
      <div class="comment-user">
        <div class="gravatar-user">
          <%= link_to (gravatar_for comment.user, size: 40), comment.user %>
        </div>

        <%= link_to comment.user.name, comment.user %>

        <div class="timestamp">
          <%= time_ago_in_words(comment.created_at).capitalize %> ago.
        </div>
      </div>

      <div id="comment">
        <%= comment.content %>
      </div>

      <% if comment.user == current_user %>
        <%= link_to "Edit", "#", id: "edit-comment-#{comment.id}", class: "edit-comment-micropost-#{micropost.id}" %> |
        <%= link_to " Delete", "#", id: "destroy-comment-#{comment.id}", class: "comment-micropost-#{micropost.id}" %>
      <% end %>

      <div id="comment-id-<%= comment.id %>" class="edit-comment"></div>
    </div>
  </div>
<% end %>
