$('#comment-<%= @comment.id %>').remove();
$('#comments-<%= @micropost.id %>').html("<%= j render @micropost.comments, micropost: @micropost, comment: @comment %>");
$('#count-comment-<%= @micropost.id %>').html("<%= pluralize(@micropost.comments.count, 'Comment') %>");

$('#notice').show();
$('#notice').html("<div class='alert alert-success'>Comment was delete successfully!</div>")
$('#notice').fadeOut(5000);
