<% pre_like = micropost.likes.find { |like| like.user_id == current_user.id} %>

<% if pre_like %>
  <%= link_to image_tag("liked.svg"), "javascript:void(0)", class: "like like_#{pre_like.id}", id: "dislike_micropost_#{micropost.id}" %>
<% else %>
  <%= link_to image_tag("like.svg"), "javascript:void(0)", class: "like", id: "like_micropost_#{micropost.id}" %>
<% end %>

<span class="counter" id="micropost-counter-<%= micropost.id %>">
  <%= link_to pluralize(micropost.likes_count, "Like"), "#likeModal", data: { micropost_id: micropost.id }, id: "show-user-like" %>

  <div class="like-modal">
    <%= render "likes/like_modal", micropost: micropost %>
  </div>
</span>
