<li id="micropost-<%= micropost.id %>" class="clearfix">
  <%= render "microposts/micropost_content", micropost: micropost %>

  <div id="like-btn-<%= micropost.id %>" class="like-btn pull-left">
    <%= render "likes/like", micropost: micropost %>
  </div>

  <i class="far fa-comment"></i>
  <span class="count-comment" id="count-comment-<%= micropost.id %>" data-id="<%= micropost.id %>">
    <%= pluralize(micropost.comments.count, "Comment") %>
  </span>

  <div id="show-comment-<%= micropost.id %>" class="show-comment">
    <%= render "comments/comment_content", micropost: micropost %>
  </div>
</li>
