<li id="micropost-<%= micropost.id %>" class="clearfix">
  <%= render "microposts/micropost_content", micropost: micropost %>

  <div id="like-btn-<%= micropost.id %>" class="like-btn pull-left">
    <%= render "likes/like", micropost: micropost %>
  </div>

  <i class="far fa-comment"></i>
  <span class="count-comment" id="count-comment-<%= micropost.id %>" data-id="<%= micropost.id %>">
    <%= pluralize(micropost.comments_count, "Comment") %>
  </span>

  <div id="show-comment-<%= micropost.id %>" class="show-comment">
    <div class="comments">
      <div class="comment_form">
        <%= render "comments/comment_form", micropost: micropost, comment: micropost.comments.build %>
      </div>

      <div class="comment_content" id="comments-<%= micropost.id %>">
        <%= render micropost.comments.includes(:user) .take(2), micropost: micropost %>
      </div>
    </div>

    <% if micropost.comments_count > 2 %>
      <%= link_to "#", id: "loadMoreComment",data: {micropost_id: micropost.id, offset: 2} do %>
        Load more...
      <% end %>
    <% end %>
  </div>
</li>
