<div id="micropost_<%= @micropost.id %>">
  <%= render "microposts/micropost_content", micropost: @micropost %>

  <div id="like-btn-<%= @micropost.id %>" class="like-btn">
    <%= render "likes/like", micropost: @micropost %>
  </div>
</div>

<div class="edit-micropost">
  <% if current_user.id == @micropost.user_id %>
    <%= link_to "Edit", edit_micropost_path(@micropost), remote: true %>
    <%= link_to "Delete", @micropost, method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
  <% end %>
  <div id="micropost-id-<%= @micropost.id %>"></div>
</div>

<div class="comments">
  <div class="count_comment">Comments (<%= @micropost.comments.count %>):</div>
  <div class="comment_form">
    <%= render "comments/comment_form", micropost: @micropost, comment: @micropost.comments.build %>
  </div>

  <div class="comment_content" id="comments_<%= @micropost.id %>">
    <% if @micropost.comments.present? %>
      <%= render @micropost.comments, micropost: @micropost %>
    <% end %>
  </div>
</div>
